/* Custom Styles - css/style.css */
#map { 
    height: 420px; 
    width: 100%; 
}

.tab-content { 
    display: none; 
}

.tab-content.active { 
    display: block; 
}

.img-card { 
    height: 220px; 
    object-fit: cover; 
}

.gallery-img { 
    height: 95px; 
    width: 100%;
    object-fit: cover; 
    transition: transform 0.2s; 
}

.gallery-img:hover { 
    transform: scale(1.03); 
}

/* Custom Styles - css/style.css */

/* Palette Messicana Tradizionale */
:root {
    --mex-pink: #E81D63;      /* Rosa Mexicano iconico */
    --mex-marigold: #F59E0B;  /* Giallo Cempasúchil */
    --mex-cobalt: #1E3A8A;    /* Blu Talavera */
    --mex-terracotta: #C2410C;/* Terra / Mattone */
    --mex-turquoise: #0D9488; /* Verde Acqua / Caraibi */
}

#map { 
    height: 420px; 
    width: 100%; 
}

.tab-content { 
    display: none; 
}

.tab-content.active { 
    display: block; 
}

.img-card { 
    height: 220px; 
    object-fit: cover; 
}

.gallery-img { 
    height: 95px; 
    width: 100%;
    object-fit: cover; 
    transition: transform 0.2s; 
}

.gallery-img:hover { 
    transform: scale(1.03); 
}